<h2>Ingresa el correo de restablecimiento</h2>
<form action='/api/sessions/recovery' method='POST'>
    <label for='email'>Email:</label>
    <input type='email' name='email' required />
    <button type='submit'>Enviar mail</button>
</form>